<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Cloud Rendering System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

  <video autoplay muted loop id="background-video">
    <source src="{{ url_for('static', filename='videos/2.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <header id="top-bar">
    <h1>Cloud Rendering System</h1>
  </header>

  <div class="container">
    <h2>Login</h2>

    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}

<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>

    <p style="margin-top: 10px;"> 
      <a href="{{ url_for('signup') }}" style="color: #6aaf0a;">Sign up here</a>
      <a href="{{ url_for('remove_user') }}" style="color: #6aaf0a;" id="remove-user-button">Remove Account</a>

    </p>
  </div>

  <footer class="footer">
    <p>&copy; 2025 Cloud Rendering System. All rights reserved.</p>
  </footer>

</body>
</html>
